<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title><%= title %> - Webshot</title> 
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' /> 
    <style type="text/css"> 
      body { 
        padding-top: 60px; 
        padding-bottom: 40px; 
      } 
    </style> 
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet"> 
  </head> 
  <body> 
   
    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="/">Webshot</a> 
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li class="active"><a href="/">Home</a></li> 
              <li><a href="/login">Login</a></li> 
              <li><a href="/reg">Register</a></li> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <div id="container" class="container"> 
	<div class="hero-unit"> 
	  <h1>Keep A Web Record</h1> 
	  <p>Powered by Node.js<p> 
	  <p> 
	    <a class="btn btn-primary btn-large" href="/login">Login</a> 
	    <a class="btn btn-large" href="/reg">Reg</a> 
	  </p> 
	</div> 
	 

<hr /> 
      <footer> 
        <p><a href="http://www.cs.umn.edu/~yjin" target="_blank">Yu Jin</a> 2013</p> 
      </footer> 
    </div> 
  </body> 
  <script src="/javascripts/jquery.js"></script> 
  <script src="/javascripts/bootstrap.js"></script> 
</html> 

